.header {
    
    // z-index: 1000;
    // margin-bottom: 70px; */
        position: relative;

    display: flex;
    width: 100%;
    min-height: 70px;
    background-color: #4421f3;
    align-items: center;
}
.container {
            
    display: flex;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}
.title {
    text-decoration: none;
    font-size: 30px;
    display: block;
    color: #fff;
    margin-right: 150px;
    span {
        color: red;
    }
 
}

.list__nav{
    display: flex;
    align-items: center;
    
    list-style: none;
}
   .nav {
        text-decoration: none;
        background: #43d609;
        color: #fff;
        border: 0;

        padding: 8px 16px;
        font-size: 16px;
        border-radius: 5px;
        margin-right: 20px;
        
        &:hover{
            background: #130665;
            color: rgb(0, 191, 255);
        }
      
      } 
    
 .active{
            text-decoration: none;

            padding: 8px 16px;
        font-size: 16px;
        border-radius: 5px;
        margin-right: 20px;
        background: #130665;
            color: rgb(0, 191, 255);
           }    

.drop    {
    position: absolute;

    display: flex;
    top: 100%;
    left: 43%;
}

